In [1]:
import pandas as pd
import matplotlib.pyplot as plt
df=pd.read_csv(r'C:\Users\ravi1\OneDrive\Desktop\ml training\Social_Network_Ads.csv')
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [2]:
df.shape

(400, 5)

In [3]:
X=df.iloc[:,[2,3]]
Y=df.iloc[:,4]

In [4]:

Y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [5]:
X.head()

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [6]:
from sklearn.model_selection import train_test_split
X_Train,X_Test,Y_train,y_Test=train_test_split(X,Y,test_size=.25,random_state=0)

In [7]:
print("Training Data: ",X_Train.shape)
print("test Data : ",X_Test.shape)

Training Data:  (300, 2)
test Data :  (100, 2)

In [22]:
from sklearn.preprocessing import StandardScaler
sc_X=StandardScaler()
X_Train=sc_X.fit_transform(X_Train)
X_Test=sc_X.transform(X_Test)

In [36]:
from sklearn.svm import SVC
classifier=SVC(kernel='linear',random_state=0)
classifier.fit(X_Train,Y_train)
#predicting the test set results
Y_pred=classifier.predict(X_Test)
Y_pred

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [40]:
from sklearn import metrics
print('Accuracy Score :with linear kernal')
print(metrics.accuracy_score(y_Test,Y_pred))

Accuracy Score :with linear kernal
0.32