### linear regression

In [4]:
import pandas as pd 
import numpy as np
from sklearn import linear_model

In [6]:
df=pd.read_csv('D:\mldataset/Book.csv')
df

   area  bedroom  age  price
0  2500      3.0   20  45000
1  3000      4.0   15  47000
2  3200      NaN   16  48000
3  3400      5.0   23  49000
4  3600      4.0   21  50000
5  3800      6.0   19  51000
6  4000      6.0   20  52000

In [8]:
df.bedroom=df.bedroom.fillna(df.bedroom.median())
df

   area  bedroom  age  price
0  2500      3.0   20  45000
1  3000      4.0   15  47000
2  3200      4.5   16  48000
3  3400      5.0   23  49000
4  3600      4.0   21  50000
5  3800      6.0   19  51000
6  4000      6.0   20  52000

reg=linear_model.LinearRegression()
reg.fit(df.drop()